variables:
  DOCKER_VERSION: '29.2.1'
  ALPINE_VERSION: '3.23'

stages:
  - build
  - deploy

build-docker-image:
  stage: 'build'
  image: docker:$DOCKER_VERSION-cli-alpine$ALPINE_VERSION
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - when: always
  services: &dind-services
    - docker:$DOCKER_VERSION-dind-alpine$ALPINE_VERSION
  script:
    - 'docker build - < Dockerfile'

deploy-docker-image:
  stage: 'deploy'
  image: docker:$DOCKER_VERSION-cli-alpine$ALPINE_VERSION
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
  services: *dind-services
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest - < Dockerfile
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker push $CI_REGISTRY_IMAGE:latest

update-readme:
  stage: 'deploy'
  image: $CI_REGISTRY_IMAGE:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    - './src/freecodecamp.sh > /tmp/README.md'
    - |
      if ! cmp -s ./README.md /tmp/README.md; then
        cp /tmp/README.md ./README.md

        git config --global user.email "$GITLAB_USER_EMAIL"
        git config --global user.name "$GITLAB_USER_NAME"
        git remote set-url --push origin $CI_REPOSITORY_URL
        git add ./README.md
        git commit -m "chore: update readme stats"
        git push origin HEAD:$CI_COMMIT_REF_NAME
      fi
